*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

nav{
    background-color:#ecdeed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px; 
}


.logo{
    width: 70px;
    min-height: 80px;
    display: flex;
    justify-content: center;
}
nav > a {
    text-decoration: none;
    color: white; 
}


#inscriptionForm {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-family:  Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 40px);
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: #555;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom-color: #ff7eb9; 
}


input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ff7eb9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ecdeed; 
}
