*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    background-color:#ecdeed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px; 
}


.logo{
    width: 70px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    

}
nav > a {
    text-decoration: none;
    color: white; 
}

H2{
    padding: 30px;
    text-align: center;
    font-size: 25px;

}

.sectionhero img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 1, 1, 0.1); 
    
    

}
.sectionhero2 img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(0, 1, 1, 0.1); 
  
}


/* Animation pour la section "Nos parfums Femme" */
.sectionhero img {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sectionhero img:hover {
    transform: scale(1.1); 
}

.sectionhero2 img {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sectionhero2 img:hover {
    transform: rotate(360deg); 
}





figure{
    display:flex;
    justify-content:center;
    padding: 30px;
    color: rgb(8, 6, 1);
    background-color: #fcf1f1
}

figcaption{
    padding: 20px;

}

footer{
    background: #fbcdcd;
    padding: 20px;

}

.logoAppli>img{
   width: 30px;
   padding: 5px;
}

.separateur{
    width: 120%;
    height: 2px;
    background-color: black;
}
.li{
    padding: 35px;
    font-size: 14px;
}
.logo3{
    display: flex;
    flex-direction:row-reverse;
    gap: 15px;
    height: 30px;
    margin-bottom: 20px;
}

@media (max-width:400px) {
  
}