*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


main{
    background-color: #fcf1f1;
}
.logo{
    width: 80%;
    min-height: 80px;
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    font-size: 14px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    min-height: 60px;
    background-color:#ecdeed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    font-family: Arial, sans-serif;
 
}
nav a {
    color: #fcf1f1;
    text-decoration: none;
    padding: 15px; 
}

.nav2 .btn-secondary:hover {
    background-color: #fbcdcd;
    color: #0f0f0f; 
    
}


img{
    width: 30px;
    height: 20px;

   }


@keyframes carousel-animation {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


 
.image-main img {
    height: 200px;
    width: 200px;
    padding: 35px; 
    border-radius: 50%;
    display: block;
    justify-content: space-around;
    margin: auto;
      
}

p{
    text-align: center;
    padding: 30px;
    font-style: Helvetica;
    font-size: 15px;


}
.paragraphe2>p{
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #0f0f0f; 
    padding: 30px;
    margin: 30px; 
     
}

.logo2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.logo2>figure{
    padding: px;
}
.footer>p,h3{
    text-align: center;
    padding: 20px;
   
}
footer{
    background: #fbcdcd;
    padding: 20px;
    background: #fbcdcd;

}
.img-accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-accueil img {
    width: 250px; /* Ajustez cette valeur selon vos besoins */
    height: auto; /* Pour garder le ratio de l'image */
    margin: 0 10px; /* Espacement entre les images */
}

.separateur{
    width: 120%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.li{
    padding: 35px;
}
.logo3{
    display: flex;
    flex-direction:row-reverse;
    gap: 15px;
    height: 30px;
}



@media screen and (min-width: 400px) {
    .nav2 .btn-secondary {
        display: flex;
        flex-direction: column;
    }
}
