*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


main{
    background-color: #fcf1f1;
}
.logo{
    width: 80%;
    min-height: 80px;
    display: flex;
    justify-content: center;
}
nav{
    min-height: 60px;
    background-color:#ecdeed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    font-family: Arial, sans-serif;
 
}
nav a {
    color: #c8707045;
    text-decoration: none;
    padding: 15px; 
}

.nav2 .btn-secondary:hover {
    background-color: #fbcdcd;
    color: #0f0f0f; 
    
}


img{
    width: 30px;
    height: 20px;

   }
   .carousel-slide {
    position: relative;
    width: 100%;
    height: 280vh;
    overflow: hidden;
}

.carousel-slide img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0;
    animation: carousel-animation 10s infinite;
}

@keyframes carousel-animation {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.carousel-slide img:nth-child(1) {
    animation-delay: 0s;
}

.carousel-slide img:nth-child(2) {
    animation-delay: 5s;
}

.carousel-slide img:nth-child(3) {
    animation-delay: 10s;
}

 


.image-main img {
    height: 200px;
    width: 151px;
    margin-right: 83px;
    padding: 35px;
    border-radius: 50%;
      
}

p{
    text-align: center;
    padding: 27px;
    font-style: Helvetica;
    font-size: 20px;


}
.paragraphe2>p{
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #0f0f0f; 
    padding: 30px;
    margin: 30px; 
     
}

.logo2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer>p{
    text-align: left;
   
}
footer{
    background: #fbcdcd;
    padding: 20px;
    background: #fbcdcd;

}
.logoAppli>img{
    width: 30px;
    height: 30px;
    padding: 5px;
}
.separateur{
    width: 120%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.li{
    padding: 35px;
}
.logo3{
    display: flex;
    flex-direction:row-reverse;
    gap: 15px;
    height: 30px;
}



@media screen and (min-width: 400px) {
    .nav2 .btn-secondary {
        display: flex;
        flex-direction: column;
    }
}
